# Environment variables
.env
.env.*
.env.local
*.pem
aws-credentials.json

# General
.DS_Store
*.log
coverage/
dist/

# Next.js
.next/
out/
build/

# Node
node_modules/
**/node_modules/

# Lambda build artifacts
aws/lambda/*/*.zip
aws/lambda/*/node_modules/
*.zip

# Lambda deployment packages
backend/deployment_packages/*.zip
backend/functions/**/*.zip

# OS
Thumbs.db
